@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  text-decoration: none !important;
}

body {
  background-color: #080808 !important;
}
/* * new css for gaming websites* */

#header {
  clear: both;
  width: 100%;
  z-index: 1;
  position: relative;
  display: block;
}

.header-inner {
  text-align: justify;
  padding: 1em 0;
  display: inline-block;
  max-width: 1060px;
  width: 100%;
  height: 9.7em;
  margin: 0 20px;
}

#logo img {
  max-width: 250px;
  width: auto;
}

#td-modular-slider {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  /* max-width: 1080px; */
  margin: auto;
}

.card {
  position: relative;
  overflow: hidden;
  margin: 5px;
  border: none !important;
  width: 100%;
  aspect-ratio: 16 / 9;
}
/* Responsive: reduce height on mobile */
@media (max-width: 768px) {
  .card {
    height: 160px;
  }
  .overlay h3 {
    font-size: 1rem;
  }

  .overlaySmall p {
    font-size: 0.75rem;
  }
}


.background {
  background-color: #212121;
}

.background-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  background-color: var(--bs-danger);
}

.background-image {
  width: 100%;
  object-fit: cover;
}
.no-scroll {
  overflow: hidden !important;
  height: 100% !important;
}
.custom-gradient-overlay {
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0.3), transparent);
}
.aspectRatio {
  aspect-ratio: 16 / 9;
}
@media (max-width: 767px) {
  .aspectRatio {
    aspect-ratio: 1 / 1;
  }
}
.overly-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px;
  font-size: 0.9rem;
}
.game-card {
  position: relative;
}

.game-title-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
}

.game-card:hover .game-title-overlay {
  opacity: 1;
}
